{% extends 'webapp/base.html' %}
{% block content %}
    <body>
        <br>
        <br>
        <div class="text-center">
            <h3> Welcome! </h3>
            <br>
            <h5> Keep your customer, event and venue data up to date.</h5>
            <hr>
            <h5> For support contact 11223344 or support@gamil.com </h5>
            <hr>
            <br>
            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
        </div>
    </body>        
{% endblock %}