
.form-layout{
    border-radius: 15px;
    width: 500px;
}

.message-text{
    color: white;
}

/* banner for image size multi-line */
.banner{
    display: block;
    width: 100%;
    max-width: 40px;
}

/* banner for bigger image size singular view*/
.bannerb{
    display: block;
    width: 100%;
    max-width: 120px;
}


