{% extends 'webapp/base.html' %}

{% block content %}
    <h5> Welcome, {{user}}! 👋 </h5>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-person' %}">
        Create a new person &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
    <hr> 
    
    <table class="table table-hover table-bordered">
       
        <div class="card">
            <div class="card-body">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                <h4> Search person </h4>
            </div>
        </div>
        
        <h3>
            <span class="htmx-indicator">
                ...
            </span>
        </h3>
        
        <form>
            {% csrf_token %}
            <input class="form-control"
                type="search"
                name="search"
                placeholder="Begin Typing To Search Users..."
                hx-get="search-results-view"
                hx-trigger="keyup changed, search"
                hx-target="#search-results"
                hx-indicator=".htmx-indicator">
                <!-- hx-get: the view to get "online". hx-target: ref to id below -->
        </form>
        
        <div id="search-results">   
            <!-- the hxtarget -->
            {% include "webapp/search-results-view.html" %}
        </div>
    </table>
{% endblock %}