<!DOCTYPE html>

<html>

    <head> 

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title> ProjectX </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

   

    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> Asiakaskanta! </h3>

            <br>

            <h5> Pidä asiakastiedot ajantasalla! </h5>

            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Luo oma tili &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>

        </div>

    </body>        


